@import "tailwindcss";

@layer scrollbar{
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-brand: #0f172a;
    --color-1: #433878;
    --color-2: #7E60BF;
    --color-3: #E4B1F0;
    --color-4: #FFE1FF;
}